.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  background: var(--bs-gray-100);
}

.app .main-container{
  height: 90%;
  max-height: 700px;
  background: var(--bs-gray-400);
}
.first-bloc .upload-bt {
  background: var(--bs-gray-500);
}
.first-bloc .upload-bt span.icon{
  font-size: 150px;
  color: black;
}
.first-bloc .upload-bt span{
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.first-bloc .send-bt {
  border: none;
  color: var(--bs-light);
  font-weight: bold;
  background: linear-gradient(to right, cornflowerblue, dodgerblue);
}

.second-bloc label {
  font-weight: bold;
  text-transform: capitalize;
}